/* pc */

@media (min-width:1024px) {
    .pc {
        display: block;
    }
    #nav {
        display: inline-block;
    }
}

/* tablet */

@media (max-width:1023px) {
    .btn {
        padding: 14px 15px;
    }
    .contact-form .form-control {
        padding: 15px;
    }
    .form-control{
        margin-top: 8px;
    }
}

@media (min-width: 740px) and (max-width: 1024px) {
    .tablet {
        display: block;
    }
    #nav {
        display: inline-block;
    }
    #footer .social-list {
        font-size: 48px;
    }
    #footer .social-list a{
        margin: 0 8px;
    }
    #footer .nxs a {
        padding: 16px 0px;
        font-size: 20px;
        display: inline-block;
    }
    .contact-info {
        
        line-height: 2;
    }
}

/* mobile */

@media (max-width: 740px) {
    .s-full-width {
        width: 100%;
    }
    .s-col-full {
        width: 100%;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #nav>li {
        display: block;
    }
    #nav li a {}
    #nav>li:hover>a {
        display: block;
    }
    #nav li:first-child {
        display: inline-block;
    }
    #nav .subnav a {
        padding: 6px 48px;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav .subnav li a {
        color: #fff;
    }
    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img {
        width: auto;
    }
    #tour .place-item {
        width: 100%;
    }
    .contact-form {
        margin-top: 32px;
        line-height: 2;
    }
    .contact-info{
        line-height: 2;
    }
}